[submodule "test/.obsidian/plugins/folder-notes/source"]
	path = test/.obsidian/plugins/folder-notes/source
	url = git@github.com:LostPaul/obsidian-folder-notes.git
[submodule "test/.obsidian/plugins/obsidian-excalidraw-plugin/source"]
	path = test/.obsidian/plugins/obsidian-excalidraw-plugin/source
	url = git@github.com:zsviczian/obsidian-excalidraw-plugin.git
[submodule "test/.obsidian/plugins/obsidian-filename-heading-sync/source"]
	path = test/.obsidian/plugins/obsidian-filename-heading-sync/source
	url = git@github.com:dvcrn/obsidian-filename-heading-sync.git
[submodule "test/.obsidian/plugins/better-markdown-links/source"]
	path = test/.obsidian/plugins/better-markdown-links/source
	url = git@github.com:mnaoumov/obsidian-better-markdown-links.git
[submodule "test/.obsidian/plugins/sample-plugin/source"]
	path = test/.obsidian/plugins/sample-plugin/source
	url = git@github.com:obsidianmd/obsidian-sample-plugin.git
